  <span class="like">
  <% if review.like?(current_user) %>
    <%= form_for(review.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do %>
      <%= button_tag(class: "btn-good") do %>
        <%= content_tag :i, "", class: 'fa fa-thumbs-up thumbs-up' %><%= content_tag :small, "#{review.likes_count}" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for(review.likes.build, remote: true) do %>
      <div><%= hidden_field_tag :review_id, review.id %></div>
      <%= button_tag(class: "btn-good") do %>
        <%= content_tag :i, "", class: "fa fa-thumbs-up empty" %><%= content_tag :small, " #{review.likes_count}", class: "thumbs-up" %>
      <% end %>
    <% end %>
  <% end %>
</span>
