<div class="Main">
  <h1>ALL Users</h1>
  <div class="users">
    <% @users.each do |user| %>
      <a href="/users/<%= user.id %>"><div class="user-Photos">
        <% if user.avatar_url.present? %>
          <div class="user_image"><%= image_tag user.avatar_url, :class => "img-responsive" %></div>
        <% else %>
          <div class="user_image"><%= image_tag 'coffeetime_mini.jpg', :class => "img-responsive" %></div>
        <% end %>
        <p><%= user.username %></p>
      </div></a>
    <% end %>
    <%= paginate(@reviews) %>
  </div>
</div>