<div class="Main">
  <%= form_tag search_users_path, :role => "form", :method => :get do %>
    <%= text_field_tag :search_user, params[:search_user], { :class => "form-control", :required => true, :placeholder=>"ユーザーを検索する"} %>
    <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-default search" } ) do %>
      <i class="fa fa-search">検索</i>
    <% end %>
  <% end %>
  <h1>ALL Users</h1>
  <div class="users">
    <% @users.each do |user| %>
      <a href="/users/<%= user.id %>"><div class="user-Photos">
        <% if user.avatar_url.present? %>
          <div class="user_image"><%= image_tag user.avatar_url, :class => "img-responsive" %></div>
        <% else %>
          <div class="user_image"><%= image_tag 'coffeetime_mini.jpg', :class => "img-responsive" %></div>
        <% end %>
        <p><%= user.username %></p>
      </div></a>
    <% end %>

  </div>
</div>