<h1>ログインに失敗しました。</h1>
<div class="form-wrapper">
  <ul class="nav navbar-nav login">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <li><%= link_to "パスワードを忘れた。", new_password_path(resource_name) %><li>
  <% end -%>
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to "認証メールを受け取れなかった。", new_confirmation_path(resource_name) %><li>
  <% end -%>
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to "パスワードリセットのメールを受け取れなかった。", new_unlock_path(resource_name) %></li>
  <% end -%>
    <li><%= link_to " Facebookログイン", user_facebook_omniauth_authorize_path, :class => 'navbar-link fa fa-facebook' %></li>
    <li><%= link_to " Twitterログイン", user_twitter_omniauth_authorize_path, :class => 'navbar-link fa fa-twitter' %></li>
    <li><%= link_to " Instagramログイン", user_instagram_omniauth_authorize_path, :class => 'navbar-link fa fa-instagram' %></li>
    <%- if controller_name != 'sessions' %>
    <li><%= link_to "ログイン", new_session_path(resource_name) %><li>
  <% end -%>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li><%= link_to "サインアップ", new_registration_path(resource_name) %><li>
  <% end -%>
  </ul>
</div>