<div class="Main">
  <div class="containerInquiry">
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
      <h1>問い合わせ画面</h1>
      <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="form-wrapper">
        <table class="inquiry-new">
          <tr>
            <th>名前<span class="text-danger"> （必須)</span></th>
            <td class="inquiry"><div class="field"><%= f.text_field :name, :placeholder=>"例：　珈琲 豆助" %></div></td>
          </tr>

          <tr>
            <th>メールアドレス<span class="text-danger"> (必須)</span></th>
            <td class="inquiry"><div class="field"><%= f.text_field :email, :placeholder=>"例：　example@exam.com" %></div></td>
          </tr>

          <tr>
            <th>電話番号</th>
            <td class="inquiry"><div class="field"><%= f.telephone_field :phone, :placeholder=>"例：　012-3456-7890" %></div></td>
          </tr>

          <tr>
            <th>問い合わせ内容 <span class="text-danger"> (必須)</span></th>
            <td class="inquiryMessage"><div class="field"><%= f.text_area :message, :placeholder=>"お問い合わせ内容をご入力ください" %></div></td>
          </tr>
        </table>
      </div>
      <%= f.submit '確認', class: 'btn btn-inquiry' %>
    <% end %>
  </div>
</div>