
<span id="like_place">
  <% if place.good?(current_user) %>
    <%= form_for(place.like_places.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
      <%= button_tag(class: "btn-heart") do %>
        <%= content_tag :i, "", class: "fa fa-heart heart" %><%= content_tag :small, "#{ place.like_places_count}" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for(place.like_places.build, remote: true) do |f| %>
      <%= hidden_field_tag :place_id, place.id %>
      <%= button_tag(class: "btn-heart") do %>
        <%= content_tag :i, "", class: "fa fa-heart empty" %><%= content_tag :small, "#{ place.like_places_count}" %>
      <% end %>
    <% end %>
  <% end %>
</span>
