<% @like_place.each do |likeplace| %>
  <% if likeplace.present? %>
  <div class="table">
    <a href="/places/<%= likeplace.place.id %>"><div class="cafename"><h4><%= likeplace.place.name %></h4></div>
    <div class="topLeft Gapi"><span><%= likeplace.place.address %></span></div></a>
    <a href="/places/<%= likeplace.place.id %>"><div class="boxBottom"><img src="<%= likeplace.place.photos %>" class="cafePhoto img-responsive"></div></a>
  </div>
  <% else %>
    <h2>ハートを押すことで、そのカフェをお気に入りに登録することができます。</h2>
    <p>お気に入り登録した、カフェはここに表示されます。</p>
  <% end %>
<% end %>