<!-- Main jumbotron -->
<div class="jumbotron">
  <h1>Cafe shaker!</h1>
  <h2><%= @place.name %></h2>
</div><!-- /.jumbotron -->
<div class="col-md-12">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>店名</th>
        <th>住所</th>
        <th>写真</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @place.name %></td>
        <td><%= @place.address %></td>
        <td><img src="<%= @place.photos %>" class="cafePhoto"></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="map_container">
    <div id="map" class="map_canvas"></div>
  </div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
      handler.map.centerOn(markers);
    });
  </script>


  <button type="button" class="btn pull-right btn-lg btn-default">
    <%= link_to 'Back', place_index_path %>
  </button>

