<div class="showReviews">
  <h2>みんなの投稿</h2>
  <ul class="show-review-ul">
    <% @place.reviews.each do |review| %>
        <li class="show-review-li">
        <% cache(review) do %>
          <div class="show-review-image">
          <% if review.user.avatar_url.present? %>
            <a href="/users/<%= review.user_id %>"><%= image_tag review.user.avatar_url, :class=>"review-user-prof img-responsive" %></a>
          <% else %>
            <a href="/users/<%= review.user_id %>"><%= image_tag 'coffeetime_mini.jpg', :class=>"review-user-prof img-responsive" %></a>
          <% end %>
          </div>
          <h3 class="show-review-h3"><%= review.user.username %></h3>
        <% end %>
          <div class="good-<%= review.id %>">
            <%= render "likes/like", review: review %>
          </div>
          <div class="star-rating">
            <span class="rate rate<%= review.rank %>"></span>
          </div>
          <div class="review">
              <%= simple_format(review.review) %>
          </div>
          <% unless review.photos.blank? %>
            <% review.photos.each do |photo| %>
              <img src="<%= photo %>" class="img-responsive">
            <% end %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>