<div class="Main">
  <div class="reviewNew">
    <div class="contents row">
      <%= form_for [@place, @review] do |f| %>
      <div class="jumbotron">
        <h1>レビューの編集</h1>
      </div>
      <h2 class="review"><%= @place.name %></h2>
      <br>
      <img src="<%= @place.photos %>" class="cafePhoto">
        <div class="evaluation">
          <%= f.radio_button 'rank', 5 %>
          <label for="review_rank_5"><span class="text">最高</span>★</label>
          <%= f.radio_button 'rank', 4 %>
          <label for="review_rank_4"><span class="text">良い</span>★</label>
          <%= f.radio_button 'rank', 3 %>
          <label for="review_rank_3"><span class="text">普通</span>★</label>
          <%= f.radio_button 'rank', 2 %>
          <label for="review_rank_2"><span class="text">悪い</span>★</label>
          <%= f.radio_button 'rank', 1 %>
          <label for="review_rank_1"><span class="text">最低</span>★</label>
        </div>
        <%= f.text_area :review, placeholder: 'レビューを書く', style: 'width: 100%;height: 200px;color: #000;' %>
        <div class="fieldPicuture">
          <%= f.file_field :photos, accept: 'image/jpg,image/jpeg,image/png,image/gif,image/JPG,image/JPEG,image/PNG,image/GIF' %>
        </div>
        <%= f.submit "編集する", class: "btn btn-review" %>
      <% end %>
    </div>
  </div>
</div>