<div class="Main">
  <div class="search-box">
    <%= form_tag search_reviews_path, :role => "form", :method => :get do %>
      <%= text_field_tag :search_place, params[:search_place], { :class => "form-control", :required => true, :placeholder=>"店名で検索"} %>
      <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-default search" } ) do %>
        <i class="fa fa-search">検索</i>
      <% end %>
    <% end %>
  </div>
  <div class="userReviews">
    <h1>カフェ写真一覧</h1>
    <% @reviews.each do |review| %>
      <% cache(review) do %>
        <% unless review.photos.blank? %>
          <a href="/places/<%= review.place_id %>"><div class="cafe-Photos">
            <% unless review.photos.blank? %>
              <% review.photos.each do |photo| %>
                <img src="<%= photo %>" class="review-index-photo img-responsive">
              <% end %>
            <% end %>
            <h3><%= review.place.name %></h3>
            <h2><%= review.user.username %></h2>
            <span class="good-<%= review.id %>"><%= render "likes/like", review: review %></span>
          </div></a>
        <% end %>
      <% end %>
    <% end %>
    <%= paginate(@reviews) %>
  </div>
</div>