<!-- Main jumbotron -->
<div class="jumbotron">
  <h1>Cafe Shaker! </h1>
  <p>訪れたカフェを検索してshareしよう</p>
</div><!-- /.jumbotron -->

<div class="col-md-6">
  <%= form_tag places_list_path, :role => "form", :method => :get do %>
    <%= text_field_tag :search, params[:search], { :class => "form-control", :required => true, :placeholder=>"まだ登録されていないカフェを探そう！"} %>
    <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-default search" } ) do %>
      <span class="glyphicon glyphicon-search">検索</span>
    <% end %>
  <% end %>
</div>
<div class="col-md-6">
  <%= form_tag search_places_path, :role => "form", :method => :get do %>
    <%= text_field_tag :search, params[:keyword], { :class => "form-control", :required => true, :placeholder=>"Cafe Shakerに登録済みのカフェを探して投稿"} %>
    <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-default search" } ) do %>
      <span class="glyphicon glyphicon-search">検索</span>
    <% end %>
  <% end %>
</div>

<div class="col-md-12">
  <table class="table">
    <% @places.each do |place| %>
      <tr>
        <td class="topLeft"><h4><%= place.name %></h4></td>
        <td rowspan="2"><%= link_to ( place ), :title => "show" do %> <span class="glyphicon glyphicon-stats placeIndexBtn" aria-hidden="true"></span><% end %></td>
        <!-- <td rowspan="2"><%= link_to( place, method: :delete, data: { confirm: "#{place.name} を削除します" }, :title => "delete" ) do %><span class="glyphicon glyphicon-trash placeIndexBtn"></span><% end %></td> -->
        <td class="topRight" rowspan="2"><a href="/places/<%= place.id %>/reviews/new" class="btn btn-default placeIndexBtn" >投稿</a></td>
      </tr>
      <tr>
        <td>
          <% if place.reviews.present? %>
          <div class="star-rating">
            <span class="rate rate<%= place.review_average %>"></span>
          <% else %>
            <span class="rate rate0"></span>
          <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="boxBottom"><img src="<%= place.photos %>" class="cafePhoto"></td>
      </tr>
      <tr>
        <td colspan="4" class="block"></td>
      </tr>
    <% end %>
  </table>
</div>