<div class="Main">
  <!-- Main jumbotron -->
  <% cache do %>
  <div class="jumbotron jumbotron-place-index animated tada">
    <!-- <%= image_tag("coffeebreak_mini.jpg") %> -->
    <h1 class="top_h1">Cafe Shares</h1>
    <p>訪れたカフェをSHAREしよう！</p>
  </div><!-- /.jumbotron -->
  <% end %>
  <!-- <%= render "places/search_cafe" %> -->
  <h2 class="placeIndex">人気のカフェ</h2>
  <div id="aspslide" class="SlideShow">
    <div class="star-rating-top">
    <% if false %>
      <% @ranking.each.with_index(1) do |place, i| %>
        <% cache(place) do %>
          <div class="CafePhotos">
            <a href="/places/<%= place.id %>"><%= image_tag(place.photos, :class=>"cafePhotoTop img-responsive") %></a>
            <a href="/places/<%= place.id %>"><h3 class=name><%= place.name %></h3></a>
            <div id="heart-<%= place.id %>">
              <%= render "like_places/like_place", place: place %>
            </div>
            <div class="google_logo"><%= image_tag "powered_by_google_on_non_white.png" %></div>
            <a href="/places/<%= place.id %>"><p><%= place.address %></p></a>
            <% if place.reviews.present? %>
              <span class="rate rate<%= place.review_average %>"></span>
            <% else %>
              <span class="rate rate0"></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="placeIndex">登録されているお店</h2>
    <!-- <div class="Cafe">
      <% @places.each do |place| %>
        <%= render "place_result", place: place %>
      <% end %>
    </div> -->
    <!-- <div class="ad">
      <a href="https://px.a8.net/svt/ejp?a8mat=2ZLA32+6EERW2+2H8I+639IP" target="_blank" rel="nofollow">
      <img border="0" width="300" height="250" alt="" src="https://www22.a8.net/svt/bgt?aid=180711758387&wid=001&eno=01&mid=s00000011565001023000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2ZLA32+6EERW2+2H8I+639IP" alt="">
    </div>
    <div class="ad">
      <a href="https://px.a8.net/svt/ejp?a8mat=2ZLA32+834ZLE+3J8+1ZHILT" target="_blank" rel="nofollow">
      <img border="0" width="300" height="250" alt="" src="https://www24.a8.net/svt/bgt?aid=180711758489&wid=001&eno=01&mid=s00000000458012007000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2ZLA32+834ZLE+3J8+1ZHILT" alt="">
    </div> -->
  </div>
</div>