
<div class="Main">
  <!-- Main jumbotron -->
  <% cache do %>
  <div class="jumbotron jumbotron-place-index animated tada">
    <h1 class="top_h1">Cafe Shares</h1>
    <p>訪れたカフェをSHAREしよう！</p>
  </div><!-- /.jumbotron -->
  <% end %>
  <%= render "places/search_cafe" %>
  <h2 class="placeIndex">人気のカフェ</h2>
  <div id="aspslide" class="SlideShow">
    <div class="star-rating-top">
      <% @ranking.each.with_index(1) do |place, i| %>
        <% cache(place) do %>
          <div class="CafePhotos">
            <a href="/places/<%= place.id %>"><%= image_tag(place.photos, :class=>"cafePhotoTop img-responsive") %></a>
            <a href="/places/<%= place.id %>"><h3 class=name><%= place.name %></h3></a>
            <div id="heart-<%= place.id %>">
              <%= render "like_places/like_place", place: place %>
            </div>
            <div class="google_logo"><%= image_tag "powered_by_google_on_non_white.png" %></div>
            <a href="/places/<%= place.id %>"><p><%= place.address %></p></a>
            <% if place.reviews.present? %>
              <span class="rate rate<%= place.review_average %>"></span>
            <% else %>
              <span class="rate rate0"></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="placeIndex">登録されているお店</h2>
    <div class="Cafe">
      <% @places.each do |place| %>
        <%= render "place_result", place: place %>
      <% end %>
    </div>
  </div>
</div>