
<div class="Main">
  <!-- Main jumbotron -->
  <div class="jumbotron animated tada">
    <h1>Cafe Shares</h1>
    <p>訪れたカフェをSHAREしよう！</p>
  </div><!-- /.jumbotron -->

  <div class="col-md-6">
    <%= form_tag search_places_path, :role => "form", :method => :get do %>
      <%= text_field_tag :search, params[:keyword], { :class => "form-control", :required => true, :placeholder=>"Cafe Shares 検索"} %>
      <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-default search" } ) do %>
        <span class="glyphicon glyphicon-search">検索</span>
      <% end %>
    <% end %>
    <%= form_tag places_list_path, :role => "form", :method => :get do %>
      <%= text_field_tag :search, params[:search], { :class => "form-control", :required => true, :placeholder=>"Google API 検索"} %>
      <%= button_tag( {:type => "submit", :name => nil, :class => "btn btn-default search" } ) do %>
        <span class="glyphicon glyphicon-search">検索</span>
      <% end %>
    <% end %>
  </div>
  <h2 class="placeIndex">人気のカフェ</h2>
  <div class="SlideShow">
    <div class="star-rating-top">
      <% @ranking.each.with_index(1) do |place, i| %>
        <div class="CafePhotos">
          <a href="/places/<%= place.id %>"><%= image_tag(place.photos, :class=>"cafePhotoTop") %></a>
          <a href="/places/<%= place.id %>"><h3 class=name><%= place.name %></h3></a>
          <div class="haert"><%= render "like_places/like_place", place: place %></div>
          <a href="/places/<%= place.id %>"><p><%= place.address %></p></a>
          <% if place.reviews.present? %>
            <span class="rate rate<%= place.review_average %>"></span>
          <% else %>
            <span class="rate rate0"></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="placeIndex">登録されているお店</h2>
    <div class="Cafe">
      <% @places.each do |place| %>
      <div class="table table-<%= place.id %>">
        <a href="/places/<%= place.id %>"><div class="cafename"><h4><%= place.name %></h4></div></a>
        <div class="heartIndex"><%= render "like_places/like_place", place: place %></div>
        <div class="star-rating">
          <% if place.reviews.present? %>
            <span class="rate rate<%= place.review_average %>"></span>
          <% else %>
            <span class="rate rate0"></span>
        <% end %>
        </div>
        <!-- <td rowspan="2"><%= link_to( place, method: :delete, data: { confirm: "#{place.name} を削除します" }, :title => "delete" ) do %><span class="glyphicon glyphicon-trash placeIndexBtn"></span><% end %></td> -->
        <div class="topRight"><a href="/places/<%= place.id %>/reviews/new" class="btn btn-default placeIndexBtn" >投稿する</a></div>
        <a href="/places/<%= place.id %>"><div class="boxBottom"><img src="<%= place.photos %>" class="cafePhoto"></div></a>
      </div>
      <% end %>
    </div>
  </div>
</div>