<div class="Main">
  <div class="showReview">
    <div class="jumbotron animated bounceIn">
    <h1>検索したお店はこちら！</h1>
    </div>
    <h3 style="text-align: center;">登録すればCafe Sharesでシェアできるようになるよ</h3>
    <%= render "search_box" %>
    <div class="col-md-12">
      <div class="Cafe">
      <% @places.each do |place| %>
        <% if @place.find_by(address: place.formatted_address) == nil %>
        <div class="table">
          <div class="cafename"><h4><%= place.name %></h4></div>
          <div class="topLeft Gapi"><%= place.formatted_address %></div>
          <% if place.photos[0] %>
            <div class="topRight"><%= link_to( '登録', places_path( :place => {
              :name => place.name,
              :latitude => place.lat,
              :longitude => place.lng,
              :address => place.formatted_address,
              :photos => place.photos[0].fetch_url(800),
               } ),:method => 'post', :class=>'btn btn-default' ) %></div>
          <% else %>
            <div class="topRight"><%= link_to( '登録', places_path( :place => {
              :name => place.name,
              :latitude => place.lat,
              :longitude => place.lng,
              :address => place.formatted_address,
               } ),:method => 'post', :class=>'btn btn-default' ) %></div>
          <% end %>
          <% if place.photos[0] %>
            <div class="boxBottom"><img src="<%= place.photos[0].fetch_url(800) %>" class="cafePhoto img-responsive" ></div>
          <% else %>
            <div class="boxBottom"><img src="no_image.png" class="cafePhoto img-responsive"></div>
          <% end %>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <button type="button" class="btn pull-right btn-lg btn-default">
    <%= link_to 'Back', places_path, data:{"turbolinks"=>false} %>
  </button>
</div>