<div class="Main">
  <div class="showReview">
    <div class="jumbotron animated bounceIn">
    <h1>検索したお店はこちら！</h1>
    </div>
    <div class="col-md-12">
      <div class="Cafe">
      <% @cafes.each do |cafe| %>
        
          <% if @place.find_by(address: cafe.formatted_address) == nil %>
          <div class="table">
            <div class="cafename"><h4><%= cafe.name %></h4></div>
            <div class="topLeft Gapi"><%= cafe.formatted_address %></div>
            <div class="heartIndex none-post">まだ投稿ないです</div>
            <div class="star-rating">
              <span class="rate rate0"></span>
            </div>
            <% if cafe.photos[0] %>
              <div class="topRight"><%= link_to( '投稿する', places_path( :place => {
                :name => cafe.name,
                :latitude => cafe.lat,
                :longitude => cafe.lng,
                :address => cafe.formatted_address,
                :photos => cafe.photos[0].fetch_url(800),
                 } ),:method => 'post', :class=>'btn btn-default placeIndexBtn btn-none-post' ) %></div>
            <% else %>
              <div class="topRight"><%= link_to( '投稿する', places_path( :place => {
                :name => cafe.name,
                :latitude => cafe.lat,
                :longitude => cafe.lng,
                :address => cafe.formatted_address,
                 } ),:method => 'post', :class=>'btn btn-default placeIndexBtn btn-none-post' ) %></div>
            <% end %>
            <% if cafe.photos[0] %>
              <div class="boxBottom"><img src="<%= cafe.photos[0].fetch_url(800) %>" class="cafePhoto img-responsive" ></div>
            <% else %>
              <div class="boxBottom"><img src="no_image.png" class="cafePhoto img-responsive"></div>
            <% end %>
          </div>
          <% end %>
        
      <% end %>
      <% @places.each do |place| %>
          <%= render "place_result", place: place %>
      <% end %>
      </div>
    </div>
  </div>
  <%= render 'button' %>
</div>