<div class="container">
  <h2 class="searchResult">検索結果</h2>
  <ul style="list-style: none">
    <% @places.each do |place| %>
    <div class="searchContents">
      <li>
        <a class="" href="/places/<%= place.id %>/reviews/new" title="<%= place.name %>">
          <h3>
            <%= place.name %>
          </h3>
          <img src="<%= place.photos %>" class="cafePhoto">
          <p><%= place.address %></p>
        </a>
      </li>
    </div>
    <% end %>
  </ul>
</div>