<div class="col-md-６">
  <!-- Main jumbotron -->
  <div class="jumbotron">
    <h1 class="show-place-h1"><%= @place.name %></h1>
  </div><!-- /.jumbotron -->

  <div class="Cafe">
    <div class="table tableShow">
      <div class="showAddress"><%= @place.address %></div>
      <div class="star-rating">
      <% if @place.reviews.present? %>
        <span class="rate rate<%= @place.review_average %>"></span>
      <% else %>
        <span class="rate rate0"></span>
      <% end %>
      </div>
      <a href="/places/<%= @place.id %>/reviews/new" class="btn placeShowBtn btn-default" >投稿する</a>
      <div><img src="<%= @place.photos %>" class="cafePhoto img-responsive"></div>
    </div>
  </div>
  <div class="map_container">
    <div id="map" class="map_canvas"></div>
     <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(12);
          handler.map.centerOn(markers);
        });
      </script>
  </div>
  <div class="showReview">
    <h2>みんなの投稿</h2>
    <ul class="show-review-ul">
      <% @place.reviews.each do |review| %>
      <li class="show-review-li">
        <div class="show-review-image">
        <% if review.user.avatar.present? %>
          <%= image_tag review.user.avatar_url, :class=>"review-user-prof" %>
        <% else %>
          <%= image_tag 'coffeetime_mini.jpg', :class=>"review-user-prof" %>
        <% end %>
        </div>
        <h3 class="show-review-h3"><%= review.user.username %></h3>
        <div class="good-<%= review.id %>">
          <%= render "likes/like", review: review %>
        </div>
        <div class="star-rating">
          <span class="rate rate<%= review.rank %>"></span>
        </div>
        <div class="review">
            <%= simple_format(review.review) %>
        </div>
        <% unless review.photos.blank? %>
          <img src="review.photos" class="img-responsive">
        <% end %>
      </li>
      <br>
      <% end %>
    </ul>
  </div>
  <button type="button" class="btn pull-right btn-lg btn-default">
    <%= link_to 'Back', root_path, data:{"turbolinks"=>false} %>
  </button>
</div>
