<div class="form-wrapper">
  <h1>プロフィールの変更</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワードを新しくする場合 （#{@minimum_password_length} characters minimum）" %>
      <% if @minimum_password_length %>
        <br />
        <em></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "新パスワード確認用" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "現在のパスワードを入力してください。" %>
    </div>

    <p>プロフィール画像</p>
    <div class="field">
      <%= f.file_field :avatar_url, autocomplete: "avatar_url" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", :class=>"button" %>
    </div>
  <% end %>

  <h3>アカウントを削除する</h3>

  <p>削除しますか? <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, :class => "btn btn-Delete" %></p>

  <button type="button" class="btn pull-right btn-lg btn-default">
    <%= link_to 'Back', root_path, data:{"turbolinks"=>false} %>
  </button>
</div>